# Outro DB para você exercitar
[Usaremos dados de exemplo do site doFactory](https://www.dofactory.com/sql/sample-database).

#### Para recriar o banco de dados em SQLite, sem Python, basta executar o arquivo com os comandos SQL na linha de comando do sistema operacional:

```shell
sqlite3 doFactory.db < sample-doFactory-dump.sql
```

#### Use Python para criar o DB e fazer algumas queries.

## Crie o DB

#### Vamos primeiro usar a estrutura e dados do arquivo `sql-doFactory-database.sql` para criar um banco de dados no arquivo `database.db`.

In [ ]:
import pandas as pd
import sqlite3

db = sqlite3.connect('doFactory.db')

In [ ]:
script = 'sample-doFactory-dump.sql'

db.cursor().executescript(open(script).read())

## SQLite com Pandas

#### Agora começamos a fazer queries:

#### Liste todos os fornecedores (suppliers)

In [ ]:
query = "SELECT CompanyName FROM 'Supplier' ORDER BY CompanyName;"

queryResult = pd.read_sql_query(query,db)

queryResult

#### Faça um ranking de fornecedores ordenados por quem mais vende:

In [ ]:
query = """

SELECT
    s.CompanyName,
    sum(o.UnitPrice*o.Quantity) AS totalSales

    FROM OrderItem AS o INNER JOIN Product AS p INNER JOIN Supplier AS s

    ON o.ProductID = p.ID AND p.SupplierID = s.ID

    GROUP BY s.ID

    ORDER BY totalSales DESC
"""

queryResult = pd.read_sql_query(query,db)

queryResult