# PRATICA_GUIADA 2 - Gerenciamento do tempo no Pandas.

### Timestamps.

In [1]:
import pandas as pd

#### O método [`.Timestamp()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timestamp.html?highlight=timestamp#pandas.Timestamp) é o equivalente pandas para o método [`.Datetime()`](https://docs.python.org/3/library/datetime.html) do Python. Tipo usado para entradas que fazem uso de índices de tempo.

In [2]:
pd.Timestamp('2017-09-01')

Timestamp('2017-09-01 00:00:00')

In [3]:
pd.Timestamp('9/1/2017 10:05AM')

Timestamp('2017-09-01 10:05:00')

#### O método [`.to_datetime()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html?highlight=to_datetime#pandas.to_datetime) converte seu argumento para o tipo `datetime`.

In [4]:
pd.to_datetime('20170901 100500', format='%Y%m%d %H%M%S')

Timestamp('2017-09-01 10:05:00')

In [5]:
pd.Timestamp('2016-12-01T20:00:00.000Z')

Timestamp('2016-12-01 20:00:00+0000', tz='UTC')

### Period.

#### O método [`.Period()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Period.html?highlight=period#pandas.Period) cria uma representação de um período de tempo.

In [6]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [7]:
pd.Period('3/5/2016')

Period('2016-03-05', 'D')

### Datetimeindex.

In [8]:
t1 = pd.Series(list('abc'), 
               [pd.Timestamp('2016-09-01'), 
                pd.Timestamp('2016-09-02'), 
                pd.Timestamp('2016-09-03')
               ]
              )
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [9]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

### Convertendo para DateTime.

In [10]:
import numpy as np
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index = d1, columns = list('ab'))
ts3

               a   b
2 June 2013   37  91
Aug 29, 2014  70  99
2015-06-26    12  22
7/12/16       70  44

In [11]:
type(ts3.index)

pandas.core.indexes.base.Index

In [12]:
ts3.index = pd.to_datetime(ts3.index)
ts3.index, type(ts3.index)

(DatetimeIndex(['2013-06-02', '2014-08-29', '2015-06-26', '2016-07-12'], dtype='datetime64[ns]', freq=None),
 pandas.core.indexes.datetimes.DatetimeIndex)

### TimeDeltas

In [13]:
pd.Timestamp('9/3/2016') - pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [14]:
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D')

Timestamp('2016-09-14 08:10:00')

### Datas em DataFrames

 #### O método [`date_range`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html?highlight=date_range#pandas.date_range) returna uma freqüência fixa de DatetimeIndex.

In [15]:
dates = pd.date_range('2017-04-06', periods = 4, freq = '2W-THU')
dates

DatetimeIndex(['2017-04-06', '2017-04-20', '2017-05-04', '2017-05-18'], dtype='datetime64[ns]', freq='2W-THU')

In [16]:
df = pd.DataFrame({'Count 1': 100 + np.random.randint(-5, 10, 4).cumsum(), 
                   'Count 2': 120 + np.random.randint(-5, 10, 4)}, 
                  index = dates
                 )
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4 entries, 2017-04-06 to 2017-05-18
Freq: 2W-THU
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Count 1  4 non-null      int64
 1   Count 2  4 non-null      int64
dtypes: int64(2)
memory usage: 96.0 bytes

#### O método [`.shift()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shift.html?highlight=shift#pandas.DataFrame.shift) desloca o índice pelo número desejado de períodos com uma frequência de tempo opcional.

In [17]:
df['Count 1'].shift()

2017-04-06      NaN
2017-04-20    100.0
2017-05-04    107.0
2017-05-18    108.0
Freq: 2W-THU, Name: Count 1, dtype: float64

#### O método [`.diff()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.diff.html?highlight=diff#pandas.DataFrame.diff) calcula a diferença entre valores de elementos em um `dataframe`.

In [18]:
df.diff()

            Count 1  Count 2
2017-04-06      NaN      NaN
2017-04-20      7.0      2.0
2017-05-04      1.0     10.0
2017-05-18      0.0    -11.0

In [19]:
df['2017-04']

            Count 1  Count 2
2017-04-06      100      116
2017-04-20      107      118