# PRATICA INDEPENDENTE 1 - Revisão Python 1.

#### Exercício 1 : Defina os objetos `x` e  `y` com valores inteiros, realize as quatro operações básicas, além da potenciação e da radiciação, com os objetos e imprima cada um dos resultados.

In [1]:
x = 3

### vjhvljvhlv

In [1]:
y = 4

NameError: name 'mk' is not defined

In [3]:
x + y

7

In [4]:
x - y

-1

In [5]:
x**y

81

In [7]:
x**0.5

1.7320508075688772

#### Exercício 2 : Crie os objeto `D` e `H`, para receberem as `string` `'Digital'` e `'House'`, realize a concatenação dos objetos e imprima o resultado na tela.

In [9]:
D = 'Digital'
H = ' House'

In [10]:
D + H

'Digital House'

#### Exercício 3 : Crie uma tupla `T`  com três inteiros, imprima o segundo na tela e some  uma unidade ao valor do terceiro.

In [11]:
T = [1, 2, 5]

In [12]:
print(T[1])

2

In [15]:
T[2] = T[2] + 1
T

[1, 2, 6]

#### Exercício 4 : Crie uma lista `L`  com quatro strings, imprima o segundo na tela e altere o valor do terceiro.

In [16]:
L = ['A', 'B', 'C', 'D']
L

['A', 'B', 'C', 'D']

In [17]:
L[1]

'B'

In [18]:
L[2] = 234
L

['A', 'B', 234, 'D']

#### Exercício 5 : Crie uma lista `D`  com três pares chave valor e imprima o dicionário na tela. Adicione um quarto par ao dicionário criado e atualize a primeira chave com um novo valor, imprimindo-o na tela. Por fim, calcule a soma/concatenação entre os elementos da primeira e da segunda chave.

In [21]:
D = {'a': 'b', 'B': 'C', 1: 3, 4: 'ola'}

In [22]:
print(D)

{'a': 'b', 'B': 'C', 1: 3, 4: 'ola'}

In [24]:
D['add'] = 999
D

{'a': 'b', 'B': 'C', 1: 3, 4: 'ola', 'add': 999}

In [29]:
D['a'] = 'KKKKKKKKKK'
D[0] = {'a2'}

D

{'a': 'KKKKKKKKKK', 'B': 'C', 1: 'a2', 4: 'ola', 'add': 999, 0: {'a2'}}

#### Exercício 6 : Crie uma lista `L`  com quatro inteiros e então some o elemento da primeira com o da ultima posição, imprima o resultado na tela.

In [30]:
L = [1, 7, 2, 3]
L

[1, 7, 2, 3]

In [31]:
L[0] + L[-1]

4

#### Exercício 7 : Defina dois objetos do tipo inteiros, calcule a divisão de um pelo outro e imprima na tela o resto dessa divisão.

In [37]:
x = 7 
y = 9

In [39]:
x/y

0.7777777777777778

In [40]:
x%y

7

#### Exercício 8 : Defina um objeto composto por uma sequência (>3) `strings` e imprima na tela a string multiplicada pelo númere de elementos que ela tiver.

In [41]:
S = []
for i in range(12):
    S.append("AKJAKJANL")

In [44]:
print(S*len(S))

['AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL', 'AKJAKJANL']

#### A seguir um objeto a ser utilizado nas questões 9 e 10.

In [45]:
x = 'O céu não é só um chapéu azul que o mundo usa.'
x

'O céu não é só um chapéu azul que o mundo usa.'

#### Exercício 9 : Dado o objeto `x` acima, faça um `slice` separando o trecho "chapéu azul" em um segundo objeto `y`  e imprima o resultado na tela.

In [60]:
y = x[len('O céu não é só um '):len('O céu não é só um chapéu azul')]
y

'chapéu azul'

#### Exercício 10 :  Crie uma objeto `y` complementar à `x` e realize a concatenação dos objetos.

In [61]:
y = x + y
y

'O céu não é só um chapéu azul que o mundo usa.chapéu azul'